---
layout: default
title: "BLOGLETTE"
permalink: /blog/
description: "Transmissions from the Glitch herself"
---
<div class="melting-text-container">
  <h1 class="melting-text" data-text="BLOGLETTE">BLOGLETTE</h1>
  <hr>
</div>

<ul class="blog-post-list" style="list-style: none; padding-left: 0;">
  {% for post in site.posts %}
    <li style="margin-bottom: 2rem; border-bottom: 1px solid #eee; padding-bottom: 1rem; display: flex; gap: 1rem; align-items: flex-start;">
      
      {% if post.thumbnail %}
        <a href="{{ post.url | relative_url }}">
          <img src="{{ post.thumbnail | relative_url }}" alt="Thumbnail for {{ post.title }}" class="blog-post-thumbnail" />
        </a>
      {% endif %}
      
      <div>
        <a href="{{ post.url | relative_url }}" style="font-size: 1.3rem; font-weight: 700; color: var(--red-primary); text-decoration: none;">
          {{ post.title }}
        </a><br />
        <small style="font-variant: small-caps; color: #999;">
          {{ post.date | date: "%B %-d, %Y" }}
        </small>
        <p style="margin-top: 0.5rem; color: var(--text-light);">
          {{ post.excerpt | strip_html | truncate: 140 }}
        </p>
      </div>
    </li>
  {% endfor %}
</ul>


