<nav id="navbar">
  <ul class="main-nav">
    <!-- <li><a href="https://glitchlette.com" data-text="HOME">Home</a></li> -->
    <li><a href="https://glitchlette.com/music" data-text="MUSIC">Music</a></li>
    <li><a href="https://glitchlette.com/shows" data-text="SHOWS">Shows</a></li>
    <li><a href="https://glitchlette-shop.fourthwall.com/" data-text="MERCH">Merch</a></li>
    <li><a href="https://glitchlette.com/gallery" data-text="GALLERY">Gallery</a></li>
    <li><a href="https://glitchlette.com/about" data-text="ABOUT">About</a></li>
    <!-- <li><a href="https://glitchlette.com/lyrics" data-text="LYRICS">Lyrics</a></li> -->
    <li><a href="https://glitchlette.com/contact/" data-text="HATE MAIL">Contact</a></li>
   <!-- <li><a href="https://linktr.ee/glitchlette" data-text="SOCIALS">Socials</a></li> -->
    <li> <a href="https://instagram.com/glitchlette" target="_blank"><i class="fab fa-instagram"></i></a></li>
    <li><a href="https://glitchlette.bandcamp.com/" target="_blank"><i class="fab fa-bandcamp"></i></a></li>
    <li><a href="https://youtube.com/@glitchlette" target="_blank"><i class="fab fa-youtube"></i></a></li>
    <li><a href="https://www.tiktok.com/@glitchlette" target="_blank">
      <i class="fab fa-tiktok"></i></a></li>
  </ul>
</nav>
