<nav id="navbar">
  <ul class="main-nav">
    <li><a href="https://glitchlette.com" data-text="HOME">Home</a></li>
    <li><a href="https://glitchlette.bandcamp.com/" data-text="MUSIC">Music</a></li>
    <li><a href="https://glitchlette.com/shows" data-text="SHOWS">Shows</a></li>
    <li><a href="https://glitchlette.com/about" data-text="ABOUT">About</a></li>
    <li><a href="https://glitchlette.com/gallery" data-text="GALLERY">Gallery</a></li>
    <li><a href="https://glitchlette.com/faq" data-text="FAQ">FAQ</a></li>
    <li><a href="https://glitchlette.com/lyrics" data-text="LYRICS">Lyrics</a></li>
    <li><a href="https://glitchlette.com/contact/" data-text="HATE MAIL">Contact</a></li>
  </ul>
  <ul class="social-nav">
    <li>
      <a href="https://open.spotify.com/artist/4KSdHqY2Mu29KG5ustJ5hU?si=shanQGEwSA-reO194c9v6w" class="social-icon" aria-label="Spotify" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-spotify"></i>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/glitchlette" class="social-icon" aria-label="Instagram" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-instagram"></i>
      </a>
    </li>
    <li>
      <a href="https://soundcloud.com/glitchlette" class="social-icon" aria-label="SoundCloud" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-cloud"></i>
      </a>
    </li>
  </ul>
</nav>
