<nav id="navbar">
  <ul class="main-nav">
    <li><a href="https://glitchlette.com" data-text="HOME">Home</a></li>
    <li><a href="https://glitchlette.com/music" data-text="MUSIC">Music</a></li>
    <li><a href="https://shop.glitchlette.com/" data-text="SHOP">Shop</a></li>
    <li><a href="https://glitchlette.com/shows" data-text="SHOWS">Shows</a></li>
    <li><a href="https://glitchlette.com/gallery" data-text="PHOTO">Photos</a></li>
    <li><a href="https://glitchlette.com/about" data-text="ABOUT">About</a></li>
    <li><a href="https://glitchlette.com/contact" data-text="CONTACT">Contact</a></li>
  </ul>

  <!-- Vertical Social Icons -->
  <ul class="social-icons">
    <li><a href="https://tiktok.com/@glitchlette" target="_blank" rel="noopener noreferrer"><i class="bi bi-tiktok"></i></a></li>
    <li><a href="https://instagram.com/glitchlette" target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram"></i></a></li>
    <li><a href="https://facebook.com/glitchlette" target="_blank" rel="noopener noreferrer"><i class="bi bi-facebook"></i></a></li>
    <li><a href="https://youtube.com/@glitchlette" target="_blank" rel="noopener noreferrer" link-rel="noopener"><i class="bi bi-youtube"></i></a></li>  
    
</ul>
</nav>